<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="row" data-ng-repeat="link in list | filter:appData.inputText | orderBy:random">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h3 class="text-center">{{link.title.text}}</h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <p data-ng-if="link.writer">{{link.writer}}</p>

            </div>
          </div>
          
          <p data-ng-if="!link.description.href" class="text-center">{{link.description}}</p>
          <a target="_blank" class="pull-right" href="{{link.link.href}}"><button type="button" class="btn btn-success">Read More!</button> </a>
          
          <hr />
      </div>
    </div>
  </div>
</div>